---
layout: default
---

<div class="row g-5 mb-5">
  <div class="col-md-6">
    {{ content }}
  </div>
  <div class="col-md-6">
    <img src="{{ site.github.url }}/assets/img/home.jpg" alt="Home" width="100%">
  </div>
</div>

<div class="row g-5 mb-5">
  <div>
    <h5 class="fw-bold border-bottom pb-3 mb-5">Contact</h5>
    <div class="row g-5 mb-5">
      <div class="col-md-10">
        <p>University of Vienna, Department of Statistics and Operations Research 
          <br>
          Kolingasse 14-16 
          <br>
          AT-1090 Vienna, Austria
        </p>
        <p>Office: 05.51</p>
        <p>Phone: +43-1-4277-38692</p>
        <p>Mail: <a href="mailto:anna.paula.kwossek@univie.ac.at">anna.paula.kwossek@univie.ac.at</a></p>
      </div>
    </div>
  </div>
</div>
